apiVersion: cert-manager.io/v1alpha2
kind: ClusterIssuer
metadata:
  name: letsencrypt-prod
  namespace: cert-manager
spec:
  acme:
    server: https://acme-v02.api.letsencrypt.org/directory
    email: {{ email_owner }}
    privateKeySecretRef:
      name: letsencrypt-prod
    solvers:
    - selector:
        dnsZones:
          - "{{ cluster_name }}"
      dns01:
        route53:
          region: {{ aws_region }}
          accessKeyID: {{ access_key_id }}
          secretAccessKeySecretRef:
            name: {{ certmanager_secret }}
            key: secret-access-key
