{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Action": [
        "sts:AssumeRole"
      ],
      "Effect": "Allow",
      "Resource": [
        "{{ base_role_arn }}/k8s-*"
      ]
    }
  ]
}
